/tmp
Solution.class
Solution.java
Solution.hs
solution.rb
solution.py
/local_config.js
/.vagrant
TestFixture.class
TestFixture.java
.idea/
target/*
.lein-repl-history
/pull.js
/server.js
/push.js
/README.md
node_modules/*
docker/*
.git/
**/.DS_Store
frameworks/java/.gradle
frameworks/java/4.0
frameworks/java/build
frameworks/java/buildOutputCleanup
