/node_modules
/tmp
/local_config.js
/.vagrant/
Solution.class
Solution.java
Solution.hs
solution.rb
solution.py
*.pyc
TestFixture.class
TestFixture.java
frameworks/java/CwRunListener.class
frameworks/java/CwTestRunner.class
.DS_Store
*~
*.pyc
target/*
.idea/
.lein-repl-history
example.rb
