/node_modules
/tmp
/local_config.js
Solution.class
Solution.java
Solution.hs
solution.rb
solution.py
*.pyc
TestFixture.class
TestFixture.java
frameworks/java/CwRunListener.class
frameworks/java/CwTestRunner.class
frameworks/java/prewarm.status
.DS_Store
*~
target/*
.idea/
.lein-repl-history
example.rb
Dockerfile
*.o
*.hi
\#*
frameworks/csharp/extra
frameworks/java/.gradle
frameworks/java/4.0
frameworks/java/build
frameworks/java/buildOutputCleanup
frameworks/gradle/.gradle
frameworks/gradle/build
